<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white show" data-simplebar>
  
  <div class="sidebar-inner px-4 pt-3">
    <!-- Brand Logo -->
  
    <a href="/" class="d-flex flex-column align-items-center text-center">
      <img src="{{ url_for('static', filename='assets/img/team/default.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 rounded-circle" style="opacity: 1; width: 50px; height: 50px; border: 3px solid #fff;">
      <span class="brand-text font-weight-light" style="font-size: 20px;">MoodAI</span>
      <span class="brand-text font-weight-light" style="font-size: 9px;">Unleashing Customer Satisfaction</span>
    </a>
    
  <hr color="white">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="avatar-md me-4">
        <div class="image">

          <img src="{{ url_for('static' , filename = 'assets/img/team/user.png' )}}"
            class="card-img-top rounded-circle border-white" alt="Bonnie Green"
            style="width: 40px; height: 40px;" />
        </div>
      </div>
      <div class="info">
        <a href="{{ url_for('logout') }}" class="d-block">
          {{ user.email }} - Logout
        </a>
      </div>

    </div>
    <hr color="white">

    <nav class="mt-2">
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item {% if 'dashboard' in segment %}active{% endif %}">
          <a href="{{url_for('pages_dashboard')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
              </svg>
            </span>
            <span class="sidebar-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item {% if 'history' in segment %}active{% endif %}">
          <a href="{{url_for('pages_history')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-xs me-2 bi bi-clock-fill"
                viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
            <span class="sidebar-text">History</span>
          </a>
        </li>

        <!--Upload Media File with detailed analysis report-->
        <li class="nav-item {% if 'upload' in segment %}active{% endif %}">
          <a href="{{url_for('pages_uploadMedia')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
              </svg>
            </span>
            <span class="sidebar-text">Upload Media</span>
          </a>
        </li>
        {% if user.role == "admin" %}
        <li class="nav-item {% if 'manage' in segment %}active{% endif %}">
          <a href="{{url_for('pages_manage')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2 bi bi-kanban-fill" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11zm5 2h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm9-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" />
              </svg>
            </span>
            <span class="sidebar-text">Statistics</span>
          </a>
        </li>
        <li class="nav-item {% if 'useremployees' in segment %}active{% endif %}">
          <a href="{{url_for('user_employees')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2 bi bi-people-fill" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
              </svg>
            </span>
            <span class="sidebar-text">My Employees</span>
          </a>
        </li>
        <li class="nav-item {% if 'userlocations' in segment %}active{% endif %}">
          <a href="{{url_for('user_Locations')}}" class="nav-link">
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2 bi bi-geo-alt-fill" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
              </svg>
            </span>
            <span class="sidebar-text">My Locations</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>

    

  </div>
  <li class="nav-item {% if 'about' in segment %}active{% endif %}">
    <a href="{{url_for('pages_about')}}" class="nav-link">
      <span class="sidebar-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
        </svg>
      </span>
      <span class="sidebar-text">About Us</span>
    </a>
  </li>
  
</nav>