{% extends 'layouts/base.html' %} {% block content %}

<div class="py-4">

  <nav aria-label="breadcrumb" class="d-none d-md-inline-block"></nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Data History</h1>
      <h1 class="h4">{{ resulto }}</h1>
      <p class="mb-0">List of the uploaded data</p>
    </div>
  </div>
</div>

<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
     <table id="example" class="table table-striped nowrap" style="width: 100%">

      <thead >
        <tr>
          <!-- <th class="border-0 rounded-start">#</th>-->
           <th class="border-0">Media Link</th>
           <th class="border-0">Media Type</th>
           <!--<th class="border-0">Uploaded Date</th>-->
           <th class="border-0">Results</th>
           <th class="border-0">Employee ID</th>
           <th class="border-0 rounded-end">Location</th>
         </tr>
      </thead>

      <tbody>   
      </tbody>

        <tfoot>
          <tr>
            <!-- <th class="border-0 rounded-start">#</th>-->
             <th class="border-0">Media Link</th>
             <th class="border-0">Media Type</th>
             <!--<th class="border-0">Uploaded Date</th>-->
             <th class="border-0">Results</th>
             <th class="border-0">Employee ID</th>
             <th class="border-0 rounded-end">Location</th>
           </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>

{% endblock content %}
