{% extends 'layouts/base.html' %}


{% block content %}
{% if not user.is_authenticated %}

<a id="login" href="/accounts/sign-in/">Login</a>
{% endif %}

<div class="py-4">
</div>
<div class="row">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item mb-4">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h2 class="h5">Add Location</h2>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="card card-body border-0 shadow mb-4">
            <form method="POST">
              <input type="hidden" name="Location_form" value="1">
              <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                  <div>
                    <label for="first_name">Location</label>
                    <input class="form-control" type="text" name="location" id="location"
                      aria-label="Location select example" placeholder="Enter your location" required>
                  </div>
                </div>
                <!--<div class="col-md-6 mb-3">
                  <label for="location">Location</label>
                  <select class="form-select mb-0" id="location" aria-label="Location select example">
                    <option selected>Location</option>
                    <option value="1">Cairo</option>
                    <option value="2">Alex</option>
                    <option value="3">Giza</option>
                    <option value="4">October</option>
                    <option value="5">Maadi</option>
                  </select>
                </div>-->
              </div>
              <div class="mt-3">
                <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save Location</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item mb-4">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <h2 class="h5">Add Employee</h2>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="card card-body border-0 shadow mb-4">
            <form method="POST">
              <input type="hidden" name="Employee_form" value="1">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div>
                    <label for="name">Name</label>
                    <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name"
                      required>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="gender">Gender</label>
                  <select class="form-select mb-0" name="gender" id="gender" aria-label="Gender select example">
                    <option selected>Gender</option>
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" name="id" id="id" type="number" placeholder="202018018" required>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="location">Location</label>
                  <select class="form-select mb-0" name="location" id="employee_location"
                    aria-label="Location select example">
                    {% for location in emp_locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="mt-3">
                <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save Member</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-8">
      <div class="row">
        <div class="col-12 col-6 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <h2 class="fs-5 fw-bold mb-0">Employees Statistics</h2>
              <h6 class="fs-5 fw-bold mb-0">Employees Statistics based on gender</h6>
              <a href="#" class="btn btn-sm btn-primary">See all</a>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Chris Wood</a>
                        <div class="small fw-bold text-gray-500"><span>50 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Jose Leos</a>
                        <div class="small fw-bold text-gray-500"><span>20 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 50%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Bonnie Green</a>
                        <div class="small fw-bold text-gray-500"><span>10 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Neil Sims</a>
                        <div class="small fw-bold text-gray-500"><span>45 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 65%;"></div>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-6 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <h2 class="fs-5 fw-bold mb-0">Locations Statistics</h2>
              <a href="#" class="btn btn-sm btn-primary">See all</a>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Maadi</a>
                        <div class="small fw-bold text-gray-500"><span>30 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">October 1</a>
                        <div class="small fw-bold text-gray-500"><span>25 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">October 2</a>
                        <div class="small fw-bold text-gray-500"><span>55 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 55%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="h6 mb-0">
                        <a href="#">Cairo</a>
                        <div class="small fw-bold text-gray-500"><span>10 Satisfied Customers</span></div>
                      </h4>
                      <div class="progress mb-0">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                          aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                    </div>
                  </div>
                </li>
                <canvas id="location-chart" width="400" height="200"></canvas><!--yaara addition starts here-->

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                  var ctx = document.getElementById('location-chart').getContext('2d');
                  var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: ['Cairo', 'Alex', 'Giza', 'October', 'Maadi'],
                      datasets: [{
                        label: 'Top Locations with high Number of Satisfied Customers',
                        data: [568, 390, 280, 210, 170],
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script> <!--yaara addition ends here-->


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}