{% extends 'layouts/base.html' %}


{% block content %}
{% if not user.is_authenticated %}

<a id="login" href="/accounts/sign-in/">Login</a>
{% endif %}

<div class="py-4">
  <div class="col-12 col-8 mb-4">
    <div class="col-12 px-0 mb-4">
      <div class="card border-0 shadow">
        <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
          <div class="d-block">
            <div class="fs-5 fw-normal mb-2 h6 text-gray fw-extrabold">Upload Media</div>
            <div class="small mt-2">
              <span class="fas fa-angle-up text-success"></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>
            {% with messages = get_flashed_messages() %}
            {% endwith %}
          </p>
          <!-- {% if filename %}
            <div style="margin: 10px auto;">
              <video autoplay="autoplay" controls="controls" preload="preload">
                <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
              </video>
            </div>
          {% endif %} -->
          <form method="POST" action="/pages/upload/" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="upload-method" class="col-form-label">Select upload method:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="upload-method" id="upload-method-url" value="url"
                  checked>
                <label class="form-check-label" for="upload-method-url">
                  Upload using URL
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="upload-method" id="upload-method-file" value="file">
                <label class="form-check-label" for="upload-method-file">
                  Upload local file
                </label>
              </div>
            </div>

            <div id="upload-file-section" style="display: none;">
              <div class="mb-3">
                <label for="file" class="col-form-label">Select file</label>
                <input type="file" name="file" autocomplete="off" required>
              </div>
            </div>

            <div id="upload-url-section">
              <div class="mb-3">
                <label for="url" class="col-form-label">URL</label>
                <input type="text" class="form-control" name="url">
              </div>

              <div class="row">
                <div class="mb-3">
                  <label for="media-name" class="col-form-label">Media Name</label>
                  <input type="text" class="form-control" name="media_name">
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="media-type" class="col-form-label">Type</label>
              <select class="form-select mb-0" name="media_type_form" id="media_type_form"
                aria-label="Media select example">
                <option value="Audio">Audio</option>
                <option value="Video">Video</option>
              </select>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="employee-id" class="col-form-label">Employee ID</label>
                <select class="form-select mb-0" name="employee_id" id="empolyee_id_data"
                  aria-label="Location select example"></select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="location" class="col-form-label">Location</label>
                <select class="form-select mb-0" name="location" id="empolyee_location"
                  aria-label="Location select example"></select>
              </div>
            </div>

            <div class="mb-3" style="margin-top: 50px">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Upload</button>
            </div>
          </form>

          <script>
            const uploadMethodUrlInput = document.getElementById("upload-method-url");
            const uploadMethodFileInput = document.getElementById("upload-method-file");
            const uploadUrlSection = document.getElementById("upload-url-section");
            const uploadFileSection = document.getElementById("upload-file-section");

            uploadMethodUrlInput.addEventListener("click", function () {
              uploadUrlSection.style.display = "block";
              uploadFileSection.style.display = "none";
            });

            uploadMethodFileInput.addEventListener("click", function () {
              uploadFileSection.style.display = "block";
              uploadUrlSection.style.display = "none";
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}